<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <logger name="org.redisson.cluster" level="ERROR"/>
    <logger name="org.redisson.connection" level="ERROR"/>
    <logger name="org.apache.pdfbox" level="OFF"/>
    <logger name="org.apache.fontbox" level="OFF"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS zzz}|%-5level %-25logger{25} - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS zzz}|%-5level %-25logger{25} - %message%n</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
